nav{
	background-color: #000;
	opacity: 0.8;
	padding-left: 10px;
	padding-right: 10px;
	-webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
}
a{
    color: #7323dc;
}
i {
  font-size: 7rem;
  display: block;
}
.btn-large{
    background-color: #7323dc;
}
.btn-large:hover{
    background-color: #8644dd;
}
.row{
    margin-bottom: 0px; 
}


.leaflet-top {
   display:none !important;
}
#logo_img{
    margin: 5px;
}
.brand-logo{
    margin-left: 5px;
}
#top{
	position:fixed;
	z-index: 1000;
	width: 100%;
	top:0px;
}
#data_box{
    display: none;
    overflow: hidden;
	margin: 10px 15px;
    padding-left: 15px;
    padding-top: 5px;
    background-color: #fff;
    opacity: 0.8;
    height: 85%;
    position: absolute;
    top:50px;
    right: 0px;
    width: 350px;
    z-index: 1;
    -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
}
#data-list li{
      opacity: 0;
}
#interest_box{
    margin: 10px 15px;
    
    opacity: 0.8;
    width: 98%;
    position: absolute;
    top:35%;
    right: 0px;
    z-index: 1;
    -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
}
#use_box{
    display: none;
    margin: 10px 15px;
    opacity: 0.8;
    width: 98%;
    position: absolute;
    top:35%;
    right: 0px;
    z-index: 1;
    -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
}
#use_box .col{
    text-align: center;
    background-color: #fff;
    cursor: pointer;
}
#use_box .col:hover{
    background-color: #000;
    color: #fff;
}
#interest_box:before{
    content: "Select a purpose for your buy";
    background-color: #1fc055;
    color: #fff;
    position: absolute;
    font-weight: bold;
    padding: 5px;
    top: -35px;
    left:39%;
}
#interest_box .col{
    text-align: center;
    background-color: #fff;
    cursor: pointer;
}
#interest_box .col:hover{
    background-color: #000;
    color: #fff;
}
#amenities{
    display: none;
    overflow: hidden;
    margin: 70px 10px;
    padding-top: 5px;
/*     background-color: #fff; */
    opacity: 0.8;
    height: 85%;
/*     width: 100px; */
    z-index: 1;
    -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.tooltipped{
    background: #fff;
     -webkit-filter: grayscale(100%); filter: grayscale(100%);
}

#amenities img{
    width: 30px;
    height: 30px;
}


#mapcanvas{
    height: 200px;
}